body {
      background: rgb(31, 109, 255);
      font: normal 15pt Arial;
    }

header {
  color: white;
  font-weight: bold;
  text-align: center;

}

section {
  background-color: white;
  padding: 15px;
  width: 500px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 6px rgb(44, 44, 44);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

.img {
  height: 200px;
}

div {
  text-align: center;
  font-weight: bold;
  padding: 8px;
}